<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<link name="base_link">


    <!-- Visual Model -->

    <visual>

        <geometry>
            <box size="${base_length}
                       ${base_width}
                       ${base_height}"/>
        </geometry>

        <material name="blue"/>

    </visual>


    <!-- Collision Model -->

    <collision>

        <geometry>
            <box size="${base_length}
                       ${base_width}
                       ${base_height}"/>
        </geometry>

    </collision>


    <!-- Physical Properties -->

    <inertial>

        <mass value="${base_mass}"/>

        <inertia
            ixx="0.0417"
            ixy="0"
            ixz="0"
            iyy="0.0708"
            iyz="0"
            izz="0.1042"/>

    </inertial>


</link>


</robot>
