<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- ========================= -->
    <!-- Left Wheel -->
    <!-- ========================= -->

    <link name="left_wheel">

        <visual>

            <origin rpy="1.5708 0 0"/>

            <geometry>
                <cylinder radius="${wheel_radius}"
                          length="${wheel_width}"/>
            </geometry>

            <material name="black"/>

        </visual>


        <collision>

            <origin rpy="1.5708 0 0"/>

            <geometry>
                <cylinder radius="${wheel_radius}"
                          length="${wheel_width}"/>
            </geometry>

        </collision>


        <inertial>

            <mass value="${wheel_mass}"/>

            <inertia
                ixx="0.0005"
                ixy="0"
                ixz="0"
                iyy="0.0005"
                iyz="0"
                izz="0.0006"/>

        </inertial>


    </link>



    <joint name="left_wheel_joint"
           type="continuous">

        <parent link="base_link"/>

        <child link="left_wheel"/>

        <origin xyz="0 0.15 -0.05"/>

        <axis xyz="0 1 0"/>

    </joint>



    <!-- ========================= -->
    <!-- Right Wheel -->
    <!-- ========================= -->


    <link name="right_wheel">


        <visual>

            <origin rpy="1.5708 0 0"/>

            <geometry>
                <cylinder radius="${wheel_radius}"
                          length="${wheel_width}"/>
            </geometry>

            <material name="black"/>

        </visual>


        <collision>

            <origin rpy="1.5708 0 0"/>

            <geometry>
                <cylinder radius="${wheel_radius}"
                          length="${wheel_width}"/>
            </geometry>

        </collision>


        <inertial>

            <mass value="${wheel_mass}"/>

            <inertia
                ixx="0.0005"
                ixy="0"
                ixz="0"
                iyy="0.0005"
                iyz="0"
                izz="0.0006"/>

        </inertial>


    </link>



    <joint name="right_wheel_joint"
           type="continuous">


        <parent link="base_link"/>

        <child link="right_wheel"/>

        <origin xyz="0 -0.15 -0.05"/>

        <axis xyz="0 1 0"/>


    </joint>



    <!-- ========================= -->
    <!-- Caster Wheel -->
    <!-- ========================= -->


    <link name="caster_wheel">


        <visual>

            <geometry>
                <sphere radius="0.03"/>
            </geometry>

            <material name="gray"/>

        </visual>



        <collision>

            <geometry>
                <sphere radius="0.03"/>
            </geometry>

        </collision>



        <inertial>

            <mass value="${caster_mass}"/>

            <inertia
                ixx="0.0001"
                ixy="0"
                ixz="0"
                iyy="0.0001"
                iyz="0"
                izz="0.0001"/>

        </inertial>


    </link>



    <joint name="caster_joint"
           type="fixed">

        <parent link="base_link"/>

        <child link="caster_wheel"/>

        <origin xyz="-0.15 0 -0.05"/>

    </joint>


</robot>
